config.py
regr_cal_housing.ipynb
__pycache__/config.cpython-310.pyc
dataset/CarPrice_Assignment.csv
dataset/Data Dictionary - carprices.xlsx
dataset/fashion-mnist_test.csv
dataset/fashion-mnist_train.csv
dataset/t10k-images-idx3-ubyte
dataset/t10k-labels-idx1-ubyte
dataset/train-images-idx3-ubyte
dataset/train-labels-idx1-ubyte
